[Desktop Entry]
Encoding=UTF-8
Name=Link to https://raw.githubusercontent.com/KhronosGroup/glTF-Sample-Models/master/2.0/Suzanne/glTF/Suzanne_BaseColor.png
Type=Link
URL=https://github.com/KhronosGroup/glTF-Sample-Models/raw/master/2.0/Suzanne/glTF/Suzanne_BaseColor.png
Icon=image-png
